@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-fade-in {
        animation: fadeIn 0.7s ease-in;
    }
    @keyframes fadeIn {
        from { opacity: 0; transform: translateY(16px);}
        to { opacity: 1; transform: none;}
    }
}
